@import url('https://v1.fontapi.ir/css/Vazir');

* {
    font-family: Vazir;
    direction: rtl;
}

body {
    background: linear-gradient(to right, #ffd89b, #19547b);

}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 25vw;
    margin: auto;
    text-align: center;
    font-family: arial;
    background-color: white;
    border-radius: 20px;
}

.card .header {
    font-size: 1.7vw;
    margin: 0;
    padding: 0;
}

.card .cont {
    display: inline-block;
}

:root{
/*   --bg-pink:#ff2bdf; */
    --bg-pink:linear-gradient(to right, rgb(55, 211, 203),rgb(4, 38, 131));
    --white:#fff;
    --black:#000;
    --pink:rgb(0, 122, 179);
}
body {
    background:var(--bg-pink);
    font-family:sans-serif;
}
.form {
    width:400px;
    height:auto;
    background:var(--white);
    margin:auto;
    border-radius:20px;
    padding:20px 40px;
}
.top {
    text-align:center;
}
.active {
    background:var(--bg-pink);
    color:white;
}
.unactive {
    background:var(--white);
    color:black;
}
.top a {
    width:200px;
    border:1px solid grey;
    padding:15px 75px;
    text-decoration:none;
    font-size:18px;
    border-radius:5px;
    font-weight:500;
    margin-left:-5px;
}
.data {
    text-align:center;
}
.inputs {
    width:100%;
    padding:15px 0px;
    border:1px solid grey;
    border-radius:5px;
    margin-bottom:15px;
    outline:none;
    font-size:18px;
    text-indent:10px;
}
.forgotpsw {
    float:right;
    color:var(--pink);
    text-decoration:none;
}
.submitbtn {
    width:100%;
    padding:15px 10px;
    background:var(--bg-pink);
    color:white;
    font-size:20px;
    outline:none;
    border-radius:5px;
    border:none;
}
.submitbtn:hover {
    cursor:pointer;
}
.footer {
    text-align:center;
}
.signupbtn {
    color:var(--pink);
    text-decoration:none;
    font-size:18px;
}
#tag {
    background:black;
    color:white;
    padding:10px 20px;
    text-align:center;
    border-radius:10px;
    float:right;
    user-select:none;
}

.alert-danger {
    color: red;

}