{% extends 'base.html' %}

{% block head %}

    <link rel="stylesheet" href="{{ url_for('static' , filename = 'css/style.css') }}"> 
    <!-- اقای محترم امیدوارم عصر بهاری خوبی داشته باشید. اینجوری فایلا رو سرو کنید -->
    <title>بهتره</title>
{% endblock %}


{% block body %}


    <div class="topnav">
        <a class="active" href="#home"><span>ب</span>هتره</a>
        <a href="html/projects.html" target="_blank" class="bruh">دوستان</a>
        <a href="html/blog.html" class="bruh">چنل اخبار</a>
        <a href="#about" class="bruh">درباره ما</a>
        <a href="/signup" class="sign-up"> ورود / ثبت نام</a>
    </div>
    {% include 'navbar.html' %}

    <div class="footer">
        <p class="c-right">
            هیچ حقوقی محفوظ نیست :) ساخته شده با قهوه
        </p>
    </div>

{% endblock %}
