{% extends 'base.html' %}

{% block head %}

    <link rel="stylesheet" href="{{ url_for('static' , filename = 'css/style.css') }}"> 
    <!-- اقای محترم امیدوارم عصر بهاری خوبی داشته باشید. اینجوری فایلا رو سرو کنید -->
    <title>بهتره</title>
{% endblock %}


{% block body %}

    <div class="topnav">
        <a class="active" href="#home"><span>ب</span>هتره</a>
        <a href="html/projects.html" target="_blank">دوستان</a>
        <a href="html/blog.html">چنل اخبار</a>
        <a href="#about">درباره ما</a>
    </div>

{% endblock %}
