<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="profile.css">
    <title>پروفایل این دوستمون</title>
</head>
<body>
    
    <div class="wrapper">

        <div class="card">

          <div class="card__header"></div>

          <div class="card__image card__image-geoff"></div>

          <div class="card__info">
            <div class="details">
              <span class="details__text-header">بردیا امیریان</span>
              <span class="details__text-subheader">دولوپر جنگو و یونیتی</span>
            </div>
            <div class="card__info__section-3">
              <div class="details-bottom">
                <span class="details__number">25k</span>
                <span class="details__text">دوست</span>
              </div>
            </div>
            <div class="card__info__section-3">
              <div class="details-bottom">
                <span class="details__number">3</span>
                <span class="details__text">دوست مورد علاقه</span>
              </div>
            </div>
            <div class="card__info__section-3">
              <div class="details-bottom">
                <span class="details__number">16k</span>
                <span class="details__text">پست</span>
              </div>
            </div>
          </div>
        </div>
      </div>
</body>
</html>