{% extends 'base.html' %}


{% block head %}
    <link rel="stylesheet" href="{{ url_for('static' , filename = 'css/signup.css') }}">
{% endblock %}


{% block body %}


<form  class="form" method="post">
  {{form.csrf_token}}
    <div class="top">
      <h1>فرم ثبت نام</h1>
      <br>

    </div>

    <div class="data">
      {{ form.username(placeholder = "نام کاربری", **{"class" : "inputs" , "onchange" : "validate();"}) }}
      {{ form.name(placeholder = "نام", **{"class" : "inputs", "id" : "name"}) }}

      {{ form.last_name(placeholder = "نام خانوادگی", **{"class" : "inputs", "id" : "fname"}) }}

      {{ form.password(placeholder = "رمز", **{"class" : "inputs", "type" : "password" , "onchange" : "validate();"}) }}

      <br>

    </div>
    <br>
    <br>
    <div class="submitdiv">
      <input type="submit" value="ثبت نام" class="submitbtn">
    </div>
    <br>
    <br>
    <div class="footer">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                    <p class="alert-danger">
                        {{message}}
                    </p>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
    <p id = "parent-acc">اکانت داری؟ <a href="#" class="signupbtn">الان ورود کن!</a></p>
    </div>

    
  </form>


    <script src="{{ url_for('static' , filename = 'js/signup.js') }}"> </script>






{% endblock %}
