{% extends 'base.html' %}


{% block head %}
    <link rel="stylesheet" href="{{ url_for('static' , filename = 'css/signup.css') }}">
{% endblock %}


{% block body %}


    <form method="post">

        {{ form.csrf_token }}
        
        {{ form.username }}
        <br>

        {{form.password}}
        <br>

        {{form.name}}

        <br>
        {{form.last_name}}
        <br>
        
        <button type="submit">
            بیا
        </button>        

    </form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
                <li>
                    {{message}}
                </li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

    
    <script>
        let csrf_token = "{{ csrf_token() }}";
        let username = "";
        $.ajax({
            type : "POST",
            url : "{{ url_for('validation_endpoint') }}",
            headers : {
                "X-CSRFToken" : csrf_token
            },
            data : {
                "username" : username,
            }
            
        })


    </script>
{% endblock %}
