{% extends 'base.html' %}


{% block head %}
    <link rel="stylesheet" href="{{ url_for('static' , filename = 'css/signup.css') }}">
{% endblock %}


{% block body %}


<form action="" class="form">
    <div class="top">
      <h1>فرم ورود</h1>
      <br>
      <a href="#" class="active">ورود</a>
      <a href="#" class="unactive">ثبت نام</a>
    </div>
    <br>
   <br>
    <br>
    <div class="data">
      <!-- <input type="text" id = "username" name = "username" value = ""class="inputs" placeholder="نام کاربری"> -->
      {{ form.username(placeholder = "نام کاربری", **{class = "inputs"}) }}
      <!-- <input type="text" id = "name" name = "name" class = "inputs" value="" placeholder="نام"> -->
      {{ form.username(placeholder = "نام", **{class = "inputs"}) }}

      <!-- <input type="text" id = "fullname" name = "fullname" class="inputs" value ="" placeholder="نام خانوادگی"> -->
      {{ form.username(placeholder = "نام خانوادگی", **{class = "inputs"}) }}

      <!-- <input type="password" id = "password" name = "password" value="" class="inputs" placeholder="رمز"> -->
      {{ form.username(placeholder = "رمز", **{class = "inputs", type = "password"}) }}

      <br>

      <a href="#" class="forgotpsw">من انقدر خنگم که رمزم یادم رفته!</a>
    </div>
    <br>
    <br>
    <div class="submitdiv">
      <input type="submit" value="ورود" class="submitbtn">
    </div>
    <br>
    <br>
    <div class="footer">
    <p>اکانت نداری؟ <a href="#" class="signupbtn">الان ثبت نام کن!</a></p>
    </div>
  </form>


    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
                <li>
                    {{message}}
                </li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
{% endblock %}
